{%extends 'customer/base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" href="/static/css/signupcustomer.css">

<main id="signupcustomer">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form id="form" method="POST">
                {%csrf_token%}
                <h1>Sign up</h1>
                <div id="gender">
                    <div style="margin-right:50px;">
                        <input type="radio" value="M" name="gender" id="male" checked="checked" required>Male
                    </div>
                    <div>
                        <input type="radio" value="F" name="gender" id="female">Female
                    </div>

                </div>
                <div id="email">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div id="password1">
                    <input type="password" name="password1" placeholder="Password" required>

                </div>
                <div id="password2">
                    <input type="password" name="password2" placeholder="Confirm password" required>

                </div>
                <div id="phoneno">
                    <input type="text" name="phoneno" placeholder="Phone number" id="phoneno" minlength="10"
                        maxlength="10" required>
                </div>
                <a href="{% url 'customer:logincustomer' %}">Already have an account? Log in here</a>
                <button type="button" id="signUp">Sign Up</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">

                <div class="overlay-panel overlay-right">
                    <h1>Hello Friend!</h1>
                    <p>Enter your personal details and start your journey as customer</p>
                </div>
            </div>
        </div>

    </div>
</main>

<script>
    $("a").removeClass("active");
    $("#signupmenu").addClass("active");

    $("#signUp").click(async function (event) {

        isValidPhoneNo($("#phoneno input").val());
        isValidPassword1($("#password1 input").val());
        isSamePassword($("#password1 input").val(), $("#password2 input").val());
        isValidEmail($("#email input").val());
        let validFormResult = await validForm($("#phoneno input").val(), $("#email input").val(), $("#password1 input").val(), $("#password2 input").val());
        if (validFormResult) {
            $('#form').submit();
        }

    })

    async function validForm(phoneno, email, password1, password2) {
        let isEmailRegistered = await IsEmailRegistered(email);
        if (isEmailRegistered.error == "Not registered" && (phoneno.length == 10 && /^[0-9]+$/.test(phoneno)) && (password1.length >= 6 && /.*[0-9].*/.test(password1)) && password1 == password2)
            return true;
        else
            return false;
    }

    function isValidPhoneNo(phoneno) {
        if ($("#phoneno input").val() == "") {
            $("#phoneno p").remove();
            $("#phoneno").append($("<p>").text("Enter your phone no.").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else if (!(phoneno.length == 10 && /^[0-9]+$/.test(phoneno))) {
            $("#phoneno p").remove();
            $("#phoneno").append($("<p>").text("Phone no. should contain 10 numbers").css({
                "color": "red",
                "font-size": "10px"
            }))
        }

        else {
            $("#phoneno p").remove();
        }
    }

    async function isValidEmail(email) {
        let isEmailRegistered = await IsEmailRegistered(email);

        if ($("#email input").val() == "") {
            $("#email p").remove();
            $("#email").append($("<p>").text("Enter your email").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else if (isEmailRegistered.error == "Email already registered as Seller" || isEmailRegistered.error == "Email already registered as Customer") {
            $("#email p").remove();
            $("#email").append($("<p>").text(isEmailRegistered.error).css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        
        else {
            $("#email p").remove();
        }
    }

    async function IsEmailRegistered(email) {
        return $.ajax({
            url: "{% url 'seller:emailregistered' %}",
            method: "GET",
            data: {
                email: email
            }

        })
    }

    function isValidPassword1(password1) {
        if ($("#password1 input").val() == "") {
            $("#password1 p").remove();
            $("#password1").append($("<p>").text("Enter your password").css({
                "color": "red",
                "font-size": "10px"
            }))
        }

        else if (!(password1.length >= 6 && /.*[0-9].*/.test(password1))) {
            $("#password1 p").remove();
            $("#password1").append($("<p>").text("Password should be of length greater than 5 and should contain numbers").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else {
            $("#password1 p").remove();
        }
    }

    function isSamePassword(password1, password2) {
        if ($("#password2 input").val() == "") {
            $("#password2 p").remove();
            $("#password2").append($("<p>").text("Confirm your password").css({
                "color": "red",
                "font-size": "10px"
            }))
        }

        else if (!(password1 == password2)) {
            $("#password2 p").remove();
            $("#password2").append($("<p>").text("Password did not match").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else {
            $("#password2 p").remove();
        }
    }

</script>
{%endblock%}