{%extends 'customer/base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" href="/static/css/signupseller.css">

<main id="signupseller">

   <div class="container" id="container">      

        <div class="form-container sign-in-container">
            <form  id="form" method="POST">
                {%csrf_token%}
                <h1>Sign up</h1>       
                <div id="email">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div id="password1">
                    <input type="password" name="password1" placeholder="Password" required>
                </div>
                <div id="password2">
                    <input type="password" name="password2" placeholder="Confirm password" required>
                </div>
                
                <div id="shopname">
                    <input type="text" name="shopname" placeholder="Shop name" required>
                </div> 
                <div id="phoneno">
                    <input type="text" name="phoneno" placeholder="Phone number" minlength="10" maxlength="10" required>  
                </div>               
                               
                <div id="warehouselocation">
                    <input type="text" name="warehouselocation" placeholder="Warehouse Address" required> 
                </div>
                  
                <a href="{% url 'seller:loginseller' %}">Already have an account? Log in here</a>
                <button type="button" id="signUp">Sign Up</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                
                <div class="overlay-panel overlay-right">
                    <h1>Hello Friend!</h1>
                    <p>Enter your personal details and start your journey as seller</p>
                    
                </div>
            </div>
        </div>

    </div>
</main> 

<script>

    $("a").removeClass("active");
    $("#signupmenu").addClass("active");

    $("#signUp").click(async function (event) {
        isValidShopName($("#shopname input").val());
        isValidPhoneNo($("#phoneno input").val());
        isValidEmail($("#email input").val());
        isValidPassword1($("#password1 input").val());
        isSamePassword($("#password1 input").val(), $("#password2 input").val());
        isValidWarehouse($("#warehouselocation input").val());
        let validFormResult = await validForm($("#shopname input").val(),$("#phoneno input").val(), $("#email input").val(), $("#password1 input").val(), $("#password2 input").val(),$("#warehouselocation input").val());
        if (validFormResult) {
            $('#form').submit();
        }
    })

    async function validForm(shopname, phoneno, email, password1, password2, warehouselocation) {
        let isEmailRegistered = await IsEmailRegistered(email);
        
        if (/^[a-zA-Z]+[a-zA-Z0-9_.-]*$/.test(shopname) && isEmailRegistered.error == "Not registered" && (phoneno.length == 10 && /^[0-9]+$/.test(phoneno)) && (password1.length >= 6 && /.*[0-9].*/.test(password1)) && password1 == password2 && warehouselocation!="")
            return true;
        else
            return false;
    }

    function isValidShopName(shopname) {
        if ($("#shopname input").val() == "") {
            $("#shopname p").remove()
            $("#shopname").append($("<p>").text("Enter your shopname").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else if (!(/^[a-zA-Z]+[a-zA-Z0-9_.-]*$/.test(shopname))) {
            $("#shopname p").remove()
            $("#shopname").append($("<p>").text("Shopname should start with letter, can contain numbers, no special characters allowed").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else {
            $("#shopname p").remove()
        }
    }

    function isValidPhoneNo(phoneno) {
        if ($("#phoneno input").val() == "") {
            $("#phoneno p").remove();
            $("#phoneno").append($("<p>").text("Enter your phone no.").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else if (!(phoneno.length == 10 && /^[0-9]+$/.test(phoneno))) {
            $("#phoneno p").remove();
            $("#phoneno").append($("<p>").text("Phone no. should contain 10 numbers").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else {
            $("#phoneno p").remove();
        }
    }

    async function isValidEmail(email) {
        let isEmailRegistered = await IsEmailRegistered(email);
        if ($("#email input").val() == "") {
            $("#email p").remove();
            $("#email").append($("<p>").text("Enter your email").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else if (isEmailRegistered.error == "Email already registered as Seller" || isEmailRegistered.error == "Email already registered as Customer") {
            $("#email p").remove();
            $("#email").append($("<p>").text(isEmailRegistered.error).css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        
        else {
            $("#email p").remove();
        }

    }

    async function IsEmailRegistered(email) {
        return $.ajax({
            url: "{% url 'seller:emailregistered' %}",
            method: "GET",
            data: {
                email: email
            }

        })
    }

    function isValidPassword1(password1) {
        if ($("#password1 input").val() == "") {
            $("#password1 p").remove();
            $("#password1").append($("<p>").text("Enter your password").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else if (!(password1.length >= 6 && /.*[0-9].*/.test(password1))) {
            $("#password1 p").remove();
            $("#password1").append($("<p>").text("Password should be of length greater than 5 and should contain numbers").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else {
            $("#password1 p").remove();
        }
    }

    function isSamePassword(password1, password2) {
        if ($("#password2 input").val() == "") {
            $("#password2 p").remove();
            $("#password2").append($("<p>").text("Confirm your password").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else if (!(password1 == password2)) {
            $("#password2 p").remove();
            $("#password2").append($("<p>").text("Password did not match").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
        else {
            $("#password2 p").remove();
        }
    }

    function isValidWarehouse(warehouselocation) {
        if ($("#warehouselocation input").val() == "") {
            $("#warehouselocation p").remove()
            $("#warehouselocation").append($("<p>").text("Enter your warehouse location").css({
                "color": "red",
                "font-size": "10px"
            }))
        }
      
        else {
            $("#warehouselocation p").remove()
        }
    }

</script>

{%endblock%}